p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 14px;
  color: rgb(96,96,96);
  margin-bottom: 20px;
}
.video-author {
  font-size: 14px;
  color: rgb(96,96,96);
}
.video-description {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(96,96,96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text {
  padding: 20px 0;
  text-align: center;
  background-color: red;
  color: #fff;
  a{
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}